*{
	padding: 0;
	margin: 0;
}
ul, ol{
	list-style: none;
}
body{
	/* color:red; */
}
#map-box{
	width: 90%;
	margin: 20px auto;
	overflow: hidden;
}
.file{
	position: absolute;
	left: -1000px;
	top: -1000px;
}
.map{
	width: 700px;
	height: 300px;
	margin: 10px;
	float: left;
}
.btn{
	height: 60px;
	width: 100px;
	box-sizing: border-box;
	text-align:center;
    line-height: 60px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn:hover {
    color: #0376ba;
    background-color: #acdbf7;
    border-color: #65acd6;
}
.call{
	position: fixed;
	right: 0;
	bottom: 0;
	display: none;
	height: 40px;
	overflow: scroll;
	background-color: #4b4b4b;
	color: #fff;
    width: 150px;
}
.call.open{
	/* min-width: 500px; */
}
.call.open ul{
	/* min-width: 500px; */
	display: block;
}
.call span.tip-title{
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	color: #6e6e6e;
	cursor: pointer;
	background-color: #efe204;
	font-size: 14px;
    font-family: monospace;
    font-weight: bold;
}
.call ul{
	padding-left: 30px;
	display: none;
	font-size:12px;
}
.call ul li{
	border-bottom: 1px solid #6e6e6e;
	height: 30px;
	line-height: 30px;
}
.call ul li span{
	color: #c7c7c7;
}
.call ul li i{
	background-color: #fe483d;
	padding: 4px;
	margin-left: 20px;
	font-style: normal;
}
.call ul li b{
	width: 200px;
}
.mask,
.loading{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.mask{
	background-color: rgba(0, 0, 0, .3);
}
.loading{
	text-align: center;
}
.loading img{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -64px 0 0 -64px;
}